@media (min-width: 400px) {
    .sensitive-width {
        /* background-color: blue; */
        /* padding: 10px 0; */
        /* max-width: ; */
    }
  }

.card-body.sensitive-width {
    padding: 10px 0 0 0;
}