.input-width {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 768px) {
    .input-width {
      margin-left: 15px;
      margin-right: 15px;
    }
  
    .w-md-auto {
      width: auto !important;
    }
  }
  