@media (min-width: 576px) {
    .with-desktop {
        width: 70%;
    }
}

@media (max-width: 576px) {
    div.add-width {
        width: 100%!important;
    }
}
div.add-width {
    width: 288px;
}



